android.accessibilityservice.delegate
android.deviceadmin.cts
#Android keyboard
com.android.inputmethod.latin
#AOLINK
com.asus.DLNA
#App Backup
com.asus.backuprestore
#App Locker
com.asus.lock
#ASUS Keyboard
com.nuance.xt9.input
#Block List
com.app.asus.blocklist
#Browser
com.android.browser
#Calculator
com.android.calculator2
#Calendar
com.android.calendar
#Camera
com.asus.camera
#Clock
com.android.deskclock
#com.asus.keyboard
com.asus.keyboard
#Contacts
com.android.contacts
#Dev Tools
com.android.development
#Downloads
com.android.providers.downloads.ui
#Email
com.android.email
#File Manager
com.asus.filemanager
#Gallery
com.android.gallery3d
#Instant Dictionary
asus.translator.main
asus.translator.service
com.asus
com.asus.ap.mydictionary
com.bing.api.translate
#Messaging
com.android.mms
#MyCloud
com.asus.webstorage.id
#MyDictionary
com.asus.ap.mydictionary
#MyLibrary
com.asus.reader
#Polaris Office
com.infraware.polarisoffice
#Polaris Office (A68)
com.infraware.polarisoffice4
#PowerSaving
com.asus.powersaver
#Settings
com.android.settings
#Setup Wizard
com.asus.setupwizard
#Sound Recorder
com.android.soundrecorder
#Super Note
com.asus.supernote
#Voice Dialer
com.android.voicedialer
#Watch Calendar
com.asus.calendar.watchcalendar
#Widevine Demo
com.widevine.demo
