#### MAIN CHUNK
#@vibe Fun Center
com.cn.asus.vibe
#Amazon Kindle
com.amazon.kindle
#ASUS Sync
com.asus.pcsynctool
#AsusLogTool
com.asus.logtool
#Car Home
com.asus.carhome
#Chrome
com.android.chrome
#FM Radio
com.asus.android.fmradio
#Garmin
com.garmin.android.apps.gmobilext
#GMail
com.google.android.gm
#Google Play Books
com.google.android.apps.books
#Google Play Movies
com.google.android.videos
#Google Play Music
com.google.android.music
#Google Play Store
com.android.vending
#Google Search
com.google.android.googlequicksearchbox
#Google+
com.google.android.apps.plus
#Magazine
com.google.android.apps.magazines
#Maps
com.google.android.apps.maps
#Movie Studio
com.google.android.videoeditor
#News & Weather
com.google.android.apps.genie.geniewidget
#PressReader
com.newspaperdirect.pressreader.android
#Splashtop Remote
com.splashtop.remote.pad.asus
#Stylus Headset Wizard
com.asus.btpen
#Talk
com.google.android.talk
#Tutorial
com.asus.stationintro
#Voice Search
com.google.android.voicesearch
#WebStorage
com.ecareme.asuswebstorage
#YouTube
com.google.android.youtube
#Zinio
com.zinio.mobile.android.reader

#### CHT SKU ONLY
net.emome.hamiapps.am
com.she.hamimusic
com.she.eReader
com.skysoft.kkbox.android
com.cht
com.garmin.android.apps.gmobilext

#### SG SKU ONLY
com.starhub.musicstore
com.softspb.tv.starhub
com.starhub.shortcut.games
com.starhub.shortcut.starhubgee
com.starhub.shapps
com.starhub.csselfhelp

#### TIM SKU ONLY
it.telecomitalia.centodiciannove
it.telecomitalia.centoottantasette
it.telecomitalia.biblet
com.telecomitalia.cubomusica
it.telecomitalia.cubovision
it.telecomitalia.timstore
it.telecomitalia.timcloud
